---
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>森川敬浩行政書士事務所</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  {% include header.html %}
  <main>
    <section id="vision">
      <h2>理念</h2>
      <p>
        あなたらしく生きること。<br>
        あなたの想いをカタチにすること。<br>
        介護現場と法律、両方を知る行政書士として、<br>
        「支えるから、やってみよう」<br>
        そう寄り添い続ける存在でありたいと考えています。
      </p>
    </section>
  </main>
  {% include footer.html %}
</body>
</html>
