---
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>プロフィール | 森川敬浩行政書士事務所</title>
  <link rel="stylesheet" href="styles.css" />
  
</head>
<body>
    {% include header.html %}

<main>
  <section id="profile">
    <h2>プロフィール</h2>

    <div>
      <h3>ごあいさつ</h3>
      <p>はじめまして。森川敬浩行政書士事務所の森川敬浩と申します。大阪市を拠点に、相続・遺言・成年後見を中心に、地域の皆さまに寄り添った法務サービスを提供しています。これまで介護の現場で培ってきた経験を活かし、法律と福祉の両面から支援を行っています。</p>
    </div>

    <div>
      <h3>経歴</h3>
      <p>昭和60年12月31日生。香川県丸亀市出身。大阪経済大学を中退後、特別養護老人ホームに入職し、その後、老人保健施設や社会福祉協議会の居宅介護支援事業所で介護部門の責任者やケアマネージャーとして経験を積みました。平成30年には家族でデイサービスを立ち上げ、現在も同施設で生活相談員として勤務しながら、行政書士としても活動を行っています。</p>
    </div>

    <div>
      <h3>資格</h3>
      <ul>
        <li>行政書士（大阪府行政書士会所属）</li>
        <li>介護支援専門員（ケアマネージャー）</li>
        <li>介護福祉士</li>
      </ul>
    </div>

    <div>
      <h3>理念・想い</h3>
      <p>介護職として働く中で、認知症介護実践者研修で学んだ「パーソンセンタードケア（その人らしさを尊重するケア）」の考え方に深く感銘を受けました。どんな状況であっても、その人がその人らしく生きられるよう支えること。それが私の支援の原点です。</p>

      <p>「危ないから」「もう無理だから」と希望を取り上げるのではなく、たとえ失敗するかもしれなくても「私たちがそばにいます。支えます」という姿勢で寄り添い、その人の選択を尊重したいと思っています。</p>

      <p>行政書士としても、介護現場と同じく「その人らしさ」を大切にし、法務と生活支援を繋ぐ存在でありたいと考えています。</p>
    </div>

    <div>
      <h3>趣味</h3>
      <ul>
        <li>テニス</li>
        <li>スポーツチャンバラ</li>
        <li>マラソン</li>
        <li>古本屋めぐり</li>
      </ul>
    </div>

    <div>
      <h3>連絡先</h3>
      <p>〒536-0022 大阪市城東区永田2-15-8<br>
      TEL: 080-2994-7088<br>
      MAIL: morikawatakahiro.gyouseishoshi@gmail.com</p>
    </div>

  </section>
</main>

  {% include footer.html %}
</body>
</html>
